@model List<Student>

<div class="container ">
    <div class="row">
        @foreach (var studentItem in Model)
        {
            <div class="col-3 mb-3 mt-3 student-value">
                <div class="control-group card ">
                    <div class="bg-secondary">
                        <div class="text-center p-2 container">
                            <img src="~/img/cat-1.jpg" width="45%" height="100px" style="border-radius:100%;user-select:none" />
                        </div>
                        <div class="container text-center pb-2">
                            <div class="card-title vazir-font-bold text-dark">
                                <p id="studentFirstName">@studentItem.FirstName @studentItem.LastName</p>
                            </div>
                            <div class="card-subtitle vazir-font-medium" style="font-weight:200">
                                <p id="studentNationalCode">@studentItem.PhoneNuber</p>
                            </div>
                            <div class="card-subtitle vazir-font-medium" style="font-weight:200">
                                <input type="hidden" class="studentId" value="@studentItem.ID" />
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col vazir-font-medium" style="display:flex;justify-content:center">
                                    <input type="button" style="width:100%" class="btn btn-light" value="فعالیت‌کلاسی" />
                                </div>
                            </div>
                            <div class="row pt-2 pb-2 vazir-font-medium ">
                                <div class="col"> <input type="button" style="width:100%" class="btn btn-success btnPrecence" value="حاضر" /></div>
                                <div class="col"> <input type="button" style="width:100%" class="btn btn-danger btnPrecenceAbsence" value="غایب" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
    <script src="~/js/PrecenceAbsencePages/PrecenceAbcenceCtrl.js"></script>
    <script src="~/js/PrecenceAbsencePages/PerecenceAbcenceCtrls.js"></script>
}